@import url('https://fonts.googleapis.com/css?family=Roboto');

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 100%;
    align-items: stretch;
}

body, html {
    height: 100%;
    font-family: 'Roboto';
    background-color: #2c2c2c;
    color: rgb(255, 255, 255);
}

h2, .white, p, a{
    color: #ffffff;
}

h2{
    font-size: 1.5rem;
}

p{
    font-size: 1rem;
}

a {
    text-decoration: none;
}

a:hover {
    color:#ffbd66;
    cursor: pointer;
    transition: 0.1s;
}

.left-side{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.right-side{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.left-side p {
    font-size: 1.1rem;
    padding-bottom: 5px;
    margin: 0;
}

.left-side h2 {
    font-size: 1.8rem;
    margin-bottom: 3px;
}

.left-side a {
    font-size: 1rem;
    padding: 5px;
    margin: 0;
}

.content-column-left{
    width: 50%;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.content-column-right{
    width: 50%;
    align-items: start;
    display: flex;
    flex-direction: column;
}

.name-section{
    align-items: center;
    display: flex;
    flex-direction: column;
}

.info-section a {
    display: block;
    padding: 7px;
    padding-left: 0;
}

.contact-section a {
    display: block;
    padding-left: 0;
    padding-bottom: 20px;
}

.white:hover {
    position: relative;
    padding-left: 10px;
}

.link-icon {
    align-items: center;
}

.social-icon {
    filter: brightness(0) invert(1);
    transition: 0.2s;
    padding-right: 5px;
}

.img:hover {
    filter: brightness(0) saturate(100%) invert(91%) sepia(12%) saturate(1454%) hue-rotate(324deg) brightness(102%) contrast(99%);
}

.resume {
    padding-top: 10px;
}

.resume:hover{
    filter: brightness(0) saturate(100%) invert(91%) sepia(12%) saturate(1454%) hue-rotate(324deg) brightness(102%) contrast(99%);
}